
.flat_content {
  background-color: white;
  box-shadow: 1px gray;
  margin-top: 20px;
  padding: 20px;
}

.flat_infos {
  background-color: white;
  box-shadow: 1px gray;
  margin-top: 20px;
  padding: 20px;
  p {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  color: black;
  }
}

.reviews_flat {
  background-color: white;
  padding: 10px 10px 0 10px;
  text-align: left;
}
.review {
  background: #F4F4F4;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.review-content {
  text-align: left;
}

.back_homes {
  margin-top: 15px;
}


