<div class="infowindow">

  <%= image_tag "https://3freetree.files.wordpress.com/2017/04/sporeslogo.png?w=236", class: "avatar" %>

  <div>
  <p class= "black"><%= flat.address %></p>


  <%= link_to "Book", flat_path(flat), target: :blank, class: "btn btn-yours" %>
  </div>
</div>
