<div class="infowindow">

  <%= image_tag flat.picture, class: "avatar" %>

  <div>
  <p class= "black"><%= flat.name %></p>


  <%= link_to "Show", flat_path(flat), target: :blank, class: "btn btn-yours" %>
  </div>
</div>
