<% content_for :title, "Spores - Review Experience" %>

  <div class="row review">
    <div class="cols-xs-12 col-sm-4 col-md-2 col-lg-2 user-infos">

      <p align="center"><%= link_to review.user.first_name, flat_path(@flat) %></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 review-body" align="center">
      <p><strong>Commentaire</strong></p>
      <p>
        <%= review.description %>
        <%= review.picture %>
      </p>
    </div>
  </div>

