<% content_for :title, "Spores - World Map" %>

<p class= "indexhome">Where will you live Spores' experience ?</p>

<div id="map" style="height: 450px;"></div>


<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

<!--   <div class="card-description" style="padding: 80px;">
    <h2>Cullera</h2>
  </div> -->

  <%= link_to "", flat_path(@flats.first.id), class: "card-link" %>
</div>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

<!--   <div class="card-description" style="padding: 80px;">
    <h2>Cullera</h2>
  </div> -->

  <%= link_to "", flat_path(@flats.second.id), class: "card-link" %>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    const handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(5);
      }
    });
  </script>
<% end %>

