 <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/AllanBallester/RiSE"><i class="fa fa-github"></i></a>
    <a target="_blank" href="https://join.slack.com/t/needafewgotalot/shared_invite/MjIwNTE4NzM2NzY5LTE1MDE2NzM4MzctOGIyMjk5YjAwMA"><i class="fa fa-slack"></i></a>
    <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company-beta/25009956/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2017,   Spores Homes, All Rights Reserved <p>
  </div>
</div>
