.banner {
  background-size: cover;
/*  background :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
*/height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.descriptionhome {
img {
  height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    }
}

.descriptionhome2 {
img {
  height: 80%;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 15px;
    }
}
