.btn-yours {
  text-decoration: none ;
  background-color: #FF847C;
  color: white;
  border-radius : 4px;
  font-weight: bold;
  padding : 6.5px 18px;
  text-align: center;
  transition: all ease 0.3s;
}
