.map_box {
  padding: 10px;
  h6 {
    font-family: Raleway, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #999999;
  }
}

.infowindow {
  display: flex;
  align-items: center;

  div {
    padding: 5px 0 5px 15px;
  }

  p {
    color: black;
    font-weight: bold;
  }
}
